#content {width: 520px; margin: 50px auto 0;}

#tabs {list-style-type: none; margin: 0 0 0 10px; overflow: hidden;}
#tabs li {float: left; width: 125px; margin-right: 1px; background-color: #CCC; border-radius: 5px 5px 0 0; text-align: center;}
#tabs li.selected {background-color: #EEE;}

#contactdbs {overflow: hidden;}
#contactdbs section {display: none;}
#contactdbs section:target {display: block !important;}

.btn.btn-primary {float: right;}

.info-wrap {display: none;}
.info-wrap span {display: block; margin: 0 0 2px 6px;}
.info-wrap div {margin-bottom: 10px;}
.info-wrap div.border {border: 1px solid #000;}
.info-wrap div.border label {position: relative; top: -9px; left: 6px; display: inline-block; padding: 0 4px; background-color: #EEE; margin-bottom: 0;}
.info-wrap .name {font-size: 16px; margin-left: 0;}

.loader {margin: 0 auto; display: block;}
.form-input {display: none;}

.dataTables_wrapper {overflow-x: scroll;}